* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #655A56;
  background-image: linear-gradient(to right bottom, rgb(52, 39, 131), rgb(130, 221, 244));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw); }

.my_container {
  max-width: 120rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
  display: block; }


.grid_container{
  display: grid;
  grid-template-rows: minmax(100rem, auto);
  grid-template-columns: 1.1fr 2fr;
  grid-template-areas: "searchForm map";
}


.heading-2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #F59A83;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
  transform: skewY(-3deg); }

.copyright {
  color: #968B87;
  font-size: 1.2rem;
  margin-top: auto; }

.link:link,
.link:visited {
  color: #968B87; }

.loader {
  margin: 5rem auto;
  text-align: center; }
  .loader svg {
    height: 5.5rem;
    width: 5.5rem;
    fill: #F59A83;
    transform-origin: 44% 50%;
    animation: rotate 1.5s infinite linear; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.my_header {
  background-color: #F9F5F3;
  display: flex;
  height: 8rem;
  align-items: center;
  justify-content: space-between; }
  .header__logo {
    margin-left: 4rem;
    height: 4.5rem;
    display: block; }

.search {
  background-color: rgb(193, 231, 248);
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all .3s;}
  .search:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.08); }
  .search__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 3rem;
    width: 30rem; }
    .search__field:focus {
      outline: none; }
    .search__field::placeholder {
      color: #DAD0CC; }

.searchForm{
  padding: 2rem 1rem;
  font-size: 100%; }

.map {
  background-color: rgb(255, 255, 255);
  border-top: 1px solid #fff; 
  }
  .map_img {
    width: 100%;
    display: block;
    height: 60%;
    object-fit: cover;
    }